{{< base }}
  {{$ body }}
                <h1>Edit Feed</h1>
                <h2>{{mensagem}}</h2>
                <form action ="/edit" method="post">
                    <table>
                        <tr> <td> Name:  </td> <td> <input type="text" name="name" value="{{name}}" required="required"> </td> </tr>
                        <tr> <td> Url: </td> <td> <input type="text" name="url" value="{{url}}" required="required"> 
                        <input type="hidden" name="id" value="{{id}}"> </td> </tr>
                        <tr> <td colspan="2"> <input type="submit" value="Edit"></td></tr>
                    </table>
                </form>
          {{/ body }}
{{/ base }}