<html>
    <head>
        <meta charset="utf-8"/>
        <title>Feed Rss Reader Client</title>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div style="width: 100%; overflow: hidden;">
            <div id="left_menu" style="width: 400px; float: left;"> 
                <b>Feeds</b>
                <ul>
                    <li><a href="/">Read Feeds</a></li>
                    <li><a href="/my_feeds">My Feeds</a></li>
                    <li><a href="/new_feed">New Feed</a></li>
                </ul>
            </div>
            <div style="margin-left: 500px;">  
                <h1>Edit Feed</h1>
                <form action ="/edit_feed" method="post">
                    Name: <input type="text" name="name" value="{{name}}" required="required"> <br>
                    Url: <input type="text" name="url" value="{{url}}" required="required"> <br>
                    <input type="hidden" name="id" value="{{id}}"> <br>
                    <input type="submit" value="Edit">
                </form>
            </div>
        </div>
    </body>
</html>