{{< base }}
  {{$ body }} <h1>Latest Feeds</h1>
                {{#vetFeed}}   
                    <h1>{{name}}</h1>
                    {{#articles}}        
                    <div id="article">
                        <span class="article_title"> {{title}} </span> <br>
                        <a class="article_link" href="{{link}}"> {{link}} </a>
                        <p> {{{body}}} </p>
                        {{imgUrl}}
                    </div>
                    <br><br>
                    {{/articles}} 
                {{/vetFeed}} {{/ body }}
{{/ base }}